<a href="https://colab.research.google.com/github/gcamachoj/Conversor-dolares-a-pesos/blob/master/1_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#Pandas Series

We'll start analyzing "The Group of Seven!. Which is a political formed by Canada, France, Germany, Italy, Japan, the United Kingdom and the Untied States. We'll start by analyzing population and for that, we'll  use a pandas.Series object.

In [4]:
g7_pop = pd.Series([35.467,63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [6]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

Series can have a name, to better document the purpose of the Series

In [7]:
g7_pop.name = "G7 Population in millons"

In [8]:
g7_pop.name

'G7 Population in millons'

In [9]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millons, dtype: float64

In [10]:
g7_pop.dtype

dtype('float64')

In [11]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [13]:
type(g7_pop.values)

numpy.ndarray

# To see the index value:

In [12]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
g7_pop[2]

80.94

In [15]:
g7_pop[6]

318.523

In [17]:
g7_pop[0]

35.467

In [18]:
l = ['a','b', 'c']

In [20]:
g7_pop.index = ['Canada','France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States']

In [23]:
g7_pop #Like python list, You can explicitly define the index

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

También podemos usar diccionarios para crear series.

In [25]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Y podemos usar listas para crear series

In [26]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Se puede especificar los indices después:

In [27]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millons, dtype: float64

##Indexing##

In [29]:
g7_pop['Canada']

35.467

In [31]:
g7_pop['Japan']

127.061

Se puede usar el atributo Iloc para usar posiciones numericas:

In [32]:
g7_pop.iloc[2]

80.94

In [33]:
g7_pop.iloc[-1]

318.523

Para seleccionar múltiples elementos [[ ]]

In [34]:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millons, dtype: float64

In [36]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millons, dtype: float64

In [37]:
g7_pop['Canada':'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millons, dtype: float64

##Seleccion COndicional##

In [39]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

In [38]:
g7_pop >70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millons, dtype: bool

In [40]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millons, dtype: float64

In [42]:
g7_pop.mean()

107.30257142857144

In [44]:
g7_pop[g7_pop>g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millons, dtype: float64

In [45]:
g7_pop.std()

97.24996987121581

~ not
| or
& and

In [47]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

##Operaciones y Métodos

In [48]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

In [49]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millons, dtype: float64

In [50]:
g7_pop.mean()

107.30257142857144

In [51]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millons, dtype: float64

In [53]:
g7_pop['France':'Italy'].mean()

68.51866666666666

##Arrays Boleanos##

In [54]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

In [55]:
g7_pop<80

Canada             True
France             True
Germany           False
Italy              True
Japan             False
United Kingdom     True
United States     False
Name: G7 Population in millons, dtype: bool

In [56]:
g7_pop[g7_pop>80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millons, dtype: float64

In [58]:
g7_pop[(g7_pop>80) | (g7_pop<40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millons, dtype: float64

In [59]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millons, dtype: float64

##Modificando Series##

In [60]:
g7_pop['Canada'] = 40.5

In [61]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millons, dtype: float64

In [62]:
g7_pop.iloc[-1] = 500

In [63]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millons, dtype: float64

In [64]:
g7_pop[g7_pop>70]

Germany           80.940
Japan            127.061
United States    500.000
Name: G7 Population in millons, dtype: float64

In [65]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millons, dtype: float64